In [32]:
import pandas as pd
import os

# results_dir = Path("nlpgpu/data/terry/ToolProj/src/exps_performance/results")

# dirs = [d for d in ]
haiku_results = "/nlpgpu/data/terry/ToolProj/src/exps_performance/results/gpt-5-mini_seed0/tb/run_20251209_182358/res.jsonl"
df = pd.read_json(haiku_results, lines=True)
df.columns

Index(['request_id', 'unique_tag', 'index_in_kind', 'model', 'seed', 'exp_id',
       'digit', 'kind', 'question', 'answer', 'nl_question', 'nl_answer',
       'nl_reasoning', 'nl_correct', 'nl_parse_err', 'nl_err_msg',
       'code_question', 'code_answer', 'code_correct', 'code_parse_err',
       'code_gen_err', 'code_err_msg', 'sim_code', 'sim_question',
       'sim_reasoning', 'sim_answer', 'sim_correct', 'sim_parse_err',
       'sim_err_msg', 'controlsim_question', 'controlsim_reasoning',
       'controlsim_answer', 'controlsim_correct', 'controlsim_parse_err',
       'controlsim_err_msg'],
      dtype='object')

In [33]:
err_msg_df = df[['code_err_msg', 'sim_err_msg']]
print(err_msg_df)

                  code_err_msg sim_err_msg
0                        ok,ok          ok
1                        ok,ok          ok
2                        ok,ok          ok
3                        ok,ok          ok
4                        ok,ok          ok
..                         ...         ...
361                      ok,ok          ok
362  type_check_failed,timeout          ok
363  type_check_failed,timeout          ok
364                      ok,ok          ok
365                      ok,ok          ok

[366 rows x 2 columns]

In [34]:
for col in err_msg_df.columns:
    print(df[col].unique())

['ok,ok' 'type_check_failed,timeout'
 'type_check_failed,invalid syntax (<string>, line 3)' 'no_code'
 'type_check_failed,unexpected indent (<string>, line 8)'
 "type_check_failed,name 'Tuple' is not defined"
 "type_check_failed,expected an indented block after 'if' statement on line 76 (<string>, line 76)"
 "type_check_failed,name 'Dict' is not defined"
 'type_check_failed,invalid syntax (<string>, line 4)']
['ok'
 'Invalid json output: \nFor troubleshooting, visit: https://docs.langchain.com/oss/python/langchain/errors/OUTPUT_PARSING_FAILURE ']

In [35]:
err_msg_df[err_msg_df['code_err_msg'] == "ok,ok"]

    code_err_msg sim_err_msg
0          ok,ok          ok
1          ok,ok          ok
2          ok,ok          ok
3          ok,ok          ok
4          ok,ok          ok
..           ...         ...
359        ok,ok          ok
360        ok,ok          ok
361        ok,ok          ok
364        ok,ok          ok
365        ok,ok          ok

[275 rows x 2 columns]

In [36]:
err_msg_df[err_msg_df['sim_err_msg'] == "ok"]

                  code_err_msg sim_err_msg
0                        ok,ok          ok
1                        ok,ok          ok
2                        ok,ok          ok
3                        ok,ok          ok
4                        ok,ok          ok
..                         ...         ...
361                      ok,ok          ok
362  type_check_failed,timeout          ok
363  type_check_failed,timeout          ok
364                      ok,ok          ok
365                      ok,ok          ok

[334 rows x 2 columns]

In [ ]:
err_str = "Invalid json output: \nFor troubleshooting, visit: https://docs.langchain.com/oss/python/langchain/errors/OUTPUT_PARSING_FAILURE "
len(err_msg_df[err_msg_df['sim_err_msg'] == err_str])

32

In [38]:
len(err_msg_df[err_msg_df['code_err_msg'] == "type_check_failed,timeout"])

26