In [1]:
import pandas as pd

# results_dir = Path("nlpgpu/data/terry/ToolProj/src/exps_performance/results")

# dirs = [d for d in ]
haiku_results = "/nlpgpu/data/terry/ToolProj/src/exps_performance/results/gpt-4o-mini_seed1/tb/run_20260104_025615/res.jsonl"
df = pd.read_json(haiku_results, lines=True)
df.columns

Index(['request_id', 'unique_tag', 'index_in_kind', 'model', 'seed', 'exp_id',
       'digit', 'kind', 'question', 'answer', 'nl_question', 'nl_answer',
       'nl_reasoning', 'nl_correct', 'nl_parse_err', 'nl_err_msg',
       'code_question', 'code_answer', 'code_correct', 'code_parse_err',
       'code_gen_err', 'code_err_msg', 'sim_code', 'sim_question',
       'sim_reasoning', 'sim_answer', 'sim_correct', 'sim_parse_err',
       'sim_err_msg', 'controlsim_question', 'controlsim_reasoning',
       'controlsim_answer', 'controlsim_correct', 'controlsim_parse_err',
       'controlsim_err_msg'],
      dtype='object')

In [2]:
err_msg_df = df[["code_err_msg", "sim_err_msg", "nl_err_msg"]]
print(err_msg_df)

                                          code_err_msg sim_err_msg nl_err_msg
0    type_check_failed,'return' outside function (<...          ok
1                                                ok,ok          ok
2                                                ok,ok          ok
3    type_check_failed,unmatched ')' (<string>, lin...          ok
4                                                ok,ok          ok
..                                                 ...         ...        ...
448                                                             ok
449                                                             ok
450                                                             ok
451                                                             ok
452                                                             ok

[453 rows x 3 columns]

In [3]:
for col in err_msg_df.columns:
    print(df[col].unique())

["type_check_failed,'return' outside function (<string>, line 44)" 'ok,ok'
 "type_check_failed,unmatched ')' (<string>, line 16)"
 'type_check_failed,invalid syntax (<string>, line 10)'
 "type_check_failed,int() argument must be a string, a bytes-like object or a real number, not 'list'"
 "type_check_failed,name 'A' is not defined"
 "type_check_failed,'return' outside function (<string>, line 17)"
 "type_check_failed,'return' outside function (<string>, line 36)"
 'type_check_failed,list index out of range'
 'type_check_failed,list indices must be integers or slices, not tuple'
 "type_check_failed,int() argument must be a string, a bytes-like object or a real number, not 'LpAffineExpression'"
 '']
['ok']
['']

In [4]:
err_msg_df[err_msg_df["code_err_msg"] == "ok,ok"]

    code_err_msg sim_err_msg nl_err_msg
1          ok,ok          ok
2          ok,ok          ok
4          ok,ok          ok
6          ok,ok          ok
7          ok,ok          ok
..           ...         ...        ...
246        ok,ok          ok
247        ok,ok          ok
248        ok,ok          ok
250        ok,ok          ok
251        ok,ok          ok

[240 rows x 3 columns]

In [5]:
err_msg_df[err_msg_df["sim_err_msg"] == "ok"]

                                          code_err_msg sim_err_msg nl_err_msg
0    type_check_failed,'return' outside function (<...          ok
1                                                ok,ok          ok
2                                                ok,ok          ok
3    type_check_failed,unmatched ')' (<string>, lin...          ok
4                                                ok,ok          ok
..                                                 ...         ...        ...
448                                                             ok
449                                                             ok
450                                                             ok
451                                                             ok
452                                                             ok

[453 rows x 3 columns]

In [6]:
err_msg_df[err_msg_df["nl_err_msg"] == "ok"]

Empty DataFrame
Columns: [code_err_msg, sim_err_msg, nl_err_msg]
Index: []

In [7]:
err_str = "Invalid json output: \nFor troubleshooting, visit: https://docs.langchain.com/oss/python/langchain/errors/OUTPUT_PARSING_FAILURE "
len(err_msg_df[err_msg_df["sim_err_msg"] == err_str])

0

In [8]:
len(err_msg_df[err_msg_df["code_err_msg"] == "type_check_failed,timeout"])

0